In [1]:
# import pandas
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import auc
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_classification
from sklearn.pipeline import make_pipeline
%matplotlib inline

pd.set_option('max_columns', None)

In [2]:
df = pd.read_csv("./data/flights_random_sample_400000.csv")

In [3]:
df

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-03-07,AA,AA,AA,311,AA,N906NN,311,13303,MIA,"Miami, FL",10529,BDL,"Hartford, CT",1940,NaN,NaN,NaN,NaN,NaN,NaN,2249,NaN,NaN,1.0,B,0.0,N,189.0,NaN,NaN,1.0,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-03-07,AA,AA,AA,332,AA,N946NN,332,12953,LGA,"New York, NY",13930,ORD,"Chicago, IL",1330,NaN,NaN,NaN,NaN,NaN,NaN,1512,NaN,NaN,1.0,B,0.0,N,162.0,NaN,NaN,1.0,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-07,AA,AA,AA,465,AA,N200UU,465,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",835,833.0,-2.0,13.0,846.0,838.0,2.0,851,840.0,-11.0,0.0,NaN,0.0,N,76.0,67.0,52.0,1.0,304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-07,AA,AA,AA,550,AA,N947UW,550,14100,PHL,"Philadelphia, PA",10529,BDL,"Hartford, CT",2050,NaN,NaN,NaN,NaN,NaN,NaN,2156,NaN,NaN,1.0,B,0.0,N,66.0,NaN,NaN,1.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-03-07,AA,AA,AA,591,AA,N833AW,591,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",1431,1537.0,66.0,16.0,1553.0,1648.0,3.0,1559,1651.0,52.0,0.0,NaN,0.0,N,88.0,74.0,55.0,1.0,331.0,52.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,2018-03-07,UA,UA_CODESHARE,UA,6215,YV,N88335,6215,14570,RNO,"Reno, NV",12266,IAH,"Houston, TX",1245,1256.0,11.0,13.0,1309.0,1817.0,16.0,1825,1833.0,8.0,0.0,NaN,0.0,N,220.0,217.0,188.0,1.0,1530.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397920,2018-03-07,AA,AA_CODESHARE,AA,4441,YX,NaN,4441,14100,PHL,"Philadelphia, PA",11278,DCA,"Washington, DC",2110,NaN,NaN,NaN,NaN,NaN,NaN,2218,NaN,NaN,1.0,B,0.0,N,68.0,NaN,NaN,1.0,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397921,2018-03-07,AA,AA_CODESHARE,AA,4640,YX,N417YX,4640,13303,MIA,"Miami, FL",10397,ATL,"Atlanta, GA",1607,1555.0,-12.0,16.0,1611.0,1744.0,11.0,1815,1755.0,-20.0,0.0,NaN,0.0,N,128.0,120.0,93.0,1.0,594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397922,2018-03-07,AA,AA_CODESHARE,AA,4734,YX,N433YX,4734,14122,PIT,"Pittsburgh, PA",13303,MIA,"Miami, FL",1900,1855.0,-5.0,12.0,1907.0,2128.0,9.0,2154,2137.0,-17.0,0.0,NaN,0.0,N,174.0,162.0,141.0,1.0,1013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397923,2018-03-07,AA,AA,AA,179,AA,N105NN,179,12478,JFK,"New York, NY",14771,SFO,"San Francisco, CA",1100,1115.0,15.0,20.0,1135.0,1426.0,5.0,1448,1431.0,-17.0,0.0,NaN,0.0,N,408.0,376.0,351.0,1.0,2586.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Create the columns 'year', 'month', 'day' separating the 'fl_date' column and after that conert it back to a datetime format

In [4]:
df[["year", "month" ,"day"]] = df["fl_date"].str.split("-", expand = True)

In [5]:
df1 = df.pop('year')
df2 = df.pop('month')
df3 = df.pop('day')
df.insert(1, "year", df1)
df.insert(2, "month", df2)
df.insert(3, "day", df3)

In [6]:
df['date'] = pd.to_datetime(df[['year','month', 'day']])
df.drop(['fl_date'], axis=1)

,year,month,day,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,date
0,2018,03,07,AA,AA,AA,311,AA,N906NN,311,13303,MIA,"Miami, FL",10529,BDL,"Hartford, CT",1940,NaN,NaN,NaN,NaN,NaN,NaN,2249,NaN,NaN,1.0,B,0.0,N,189.0,NaN,NaN,1.0,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
1,2018,03,07,AA,AA,AA,332,AA,N946NN,332,12953,LGA,"New York, NY",13930,ORD,"Chicago, IL",1330,NaN,NaN,NaN,NaN,NaN,NaN,1512,NaN,NaN,1.0,B,0.0,N,162.0,NaN,NaN,1.0,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
2,2018,03,07,AA,AA,AA,465,AA,N200UU,465,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",835,833.0,-2.0,13.0,846.0,838.0,2.0,851,840.0,-11.0,0.0,NaN,0.0,N,76.0,67.0,52.0,1.0,304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
3,2018,03,07,AA,AA,AA,550,AA,N947UW,550,14100,PHL,"Philadelphia, PA",10529,BDL,"Hartford, CT",2050,NaN,NaN,NaN,NaN,NaN,NaN,2156,NaN,NaN,1.0,B,0.0,N,66.0,NaN,NaN,1.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
4,2018,03,07,AA,AA,AA,591,AA,N833AW,591,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",1431,1537.0,66.0,16.0,1553.0,1648.0,3.0,1559,1651.0,52.0,0.0,NaN,0.0,N,88.0,74.0,55.0,1.0,331.0,52.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2018-03-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,2018,03,07,UA,UA_CODESHARE,UA,6215,YV,N88335,6215,14570,RNO,"Reno, NV",12266,IAH,"Houston, TX",1245,1256.0,11.0,13.0,1309.0,1817.0,16.0,1825,1833.0,8.0,0.0,NaN,0.0,N,220.0,217.0,188.0,1.0,1530.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397920,2018,03,07,AA,AA_CODESHARE,AA,4441,YX,NaN,4441,14100,PHL,"Philadelphia, PA",11278,DCA,"Washington, DC",2110,NaN,NaN,NaN,NaN,NaN,NaN,2218,NaN,NaN,1.0,B,0.0,N,68.0,NaN,NaN,1.0,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397921,2018,03,07,AA,AA_CODESHARE,AA,4640,YX,N417YX,4640,13303,MIA,"Miami, FL",10397,ATL,"Atlanta, GA",1607,1555.0,-12.0,16.0,1611.0,1744.0,11.0,1815,1755.0,-20.0,0.0,NaN,0.0,N,128.0,120.0,93.0,1.0,594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397922,2018,03,07,AA,AA_CODESHARE,AA,4734,YX,N433YX,4734,14122,PIT,"Pittsburgh, PA",13303,MIA,"Miami, FL",1900,1855.0,-5.0,12.0,1907.0,2128.0,9.0,2154,2137.0,-17.0,0.0,NaN,0.0,N,174.0,162.0,141.0,1.0,1013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397923,2018,03,07,AA,AA,AA,179,AA,N105NN,179,12478,JFK,"New York, NY",14771,SFO,"San Francisco, CA",1100,1115.0,15.0,20.0,1135.0,1426.0,5.0,1448,1431.0,-17.0,0.0,NaN,0.0,N,408.0,376.0,351.0,1.0,2586.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07

In [7]:
import datetime

# Function that convert the 'HHMM' string to datetime.time "1940 -> 19:40:00"
def time_format(chain):
    if pd.isnull(chain):
        return np.nan
    else:
        if chain == 2400: chain = 0
        chain = "{0:04d}".format(int(chain))
        time = datetime.time(int(chain[0:2]), int(chain[2:4]))
        return time

In [8]:
df['crs_dep_time'] = df['crs_dep_time'].apply(time_format)

In [9]:
df['dep_time'] = df['dep_time'].apply(time_format)

In [10]:
df['crs_arr_time'] = df['crs_arr_time'].apply(time_format)

In [11]:
df['arr_time'] = df['arr_time'].apply(time_format)

In [12]:
variables_to_remove = ['taxi_out', 'taxi_in', 'wheels_on', 'wheels_off', 'year','month','day','date', 'nas_delay', 'security_delay', 'carrier_delay', 'late_aircraft_delay',
                       'weather_delay', 'diverted', 'cancelled', 'cancellation_code','mkt_carrier_fl_num', 'tail_num', 'mkt_unique_carrier', 'branded_code_share', 
                       'mkt_carrier', 'op_carrier_fl_num', 'dup', 'flights', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'no_name']

In [13]:
df.drop(variables_to_remove, axis = 1, inplace = True)

In [14]:
df = df[['op_unique_carrier', 'origin_city_name', 'origin', 'origin_airport_id', 'dest_city_name', 'dest', 'dest_airport_id','distance','air_time','crs_dep_time', 'dep_time', 'dep_delay', 'crs_arr_time', 'arr_time', 'arr_delay', 'crs_elapsed_time', 'actual_elapsed_time']]

In [15]:
df

,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time
0,AA,"Miami, FL",MIA,13303,"Hartford, CT",BDL,10529,1194.0,NaN,19:40:00,NaN,NaN,22:49:00,NaN,NaN,189.0,NaN
1,AA,"New York, NY",LGA,12953,"Chicago, IL",ORD,13930,733.0,NaN,13:30:00,NaN,NaN,15:12:00,NaN,NaN,162.0,NaN
2,AA,"Phoenix, AZ",PHX,14107,"San Diego, CA",SAN,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0
3,AA,"Philadelphia, PA",PHL,14100,"Hartford, CT",BDL,10529,196.0,NaN,20:50:00,NaN,NaN,21:56:00,NaN,NaN,66.0,NaN
4,AA,"Charlotte, NC",CLT,11057,"Washington, DC",DCA,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,YV,"Reno, NV",RNO,14570,"Houston, TX",IAH,12266,1530.0,188.0,12:45:00,12:56:00,11.0,18:25:00,18:33:00,8.0,220.0,217.0
397920,YX,"Philadelphia, PA",PHL,14100,"Washington, DC",DCA,11278,119.0,NaN,21:10:00,NaN,NaN,22:18:00,NaN,NaN,68.0,NaN
397921,YX,"Miami, FL",MIA,13303,"Atlanta, GA",ATL,10397,594.0,93.0,16:07:00,15:55:00,-12.0,18:15:00,17:55:00,-20.0,128.0,120.0
397922,YX,"Pittsburgh, PA",PIT,14122,"Miami, FL",MIA,13303,1013.0,141.0,19:00:00,18:55:00,-5.0,21:54:00,21:37:00,-17.0,174.0,162.0
397923,AA,"New York, NY",JFK,12478,"San Francisco, CA",SFO,14771,2586.0,351.0,11:00:00,11:15:00,15.0,14:48:00,14:31:00,-17.0,408.0,376.0

In [16]:
df.dropna(inplace = True)

<ipython-input-16-d1ada024d2eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

In [17]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0     op_unique_carrier               0               100.0
1             arr_delay               0               100.0
2              arr_time               0               100.0
3          crs_arr_time               0               100.0
4             dep_delay               0               100.0
5              dep_time               0               100.0
6          crs_dep_time               0               100.0
7      crs_elapsed_time               0               100.0
8              air_time               0               100.0
9       dest_airport_id               0               100.0
10                 dest               0               100.0
11       dest_city_name               0               100.0
12    origin_airport_id               0               100.0
13               origin               0               100.0
14     origin_city_name               0               100.0
15             distance               0               100.0
16  actual_elapsed_time               0               100.0

In [18]:
df2

0         03
1         03
2         03
3         03
4         03
          ..
397919    03
397920    03
397921    03
397922    03
397923    03
Name: month, Length: 397924, dtype: object

In [19]:
# df['op_unique_carrier'] = df['op_unique_carrier'].astype(str)

In [20]:
# function that extract statistical parameters from a grouby objet:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean()}


# Creation of a dataframe with statitical infos on each airline:
global_stats_carrier = df['arr_delay'].groupby(df['op_unique_carrier']).apply(get_stats).unstack()
global_stats_carrier = global_stats_carrier.sort_values('count')
global_stats_carrier.reset_index(inplace=True)
global_stats_carrier

   op_unique_carrier    min     max    count       mean
0                 9K  -24.0    29.0     45.0  -4.555556
1                 KS  -38.0   254.0     71.0  26.422535
2                 EM  -28.0   170.0    245.0   4.946939
3                 VX  -54.0   202.0    430.0   2.774419
4                 C5  -49.0  1317.0   2605.0  24.450288
5                 AX  -54.0  1470.0   3793.0  15.383601
6                 G7  -55.0  1300.0   3992.0   9.511774
7                 HA  -54.0   855.0   4148.0   0.603905
8                 CP -260.0   983.0   4772.0   5.760897
9                 G4  -70.0  1863.0   4995.0   7.841241
10                ZW  -52.0  1041.0   5019.0   7.302052
11                PT  -48.0  1149.0   5226.0   4.049177
12                QX  -50.0   507.0   5722.0   2.480077
13                F9  -60.0   628.0   6264.0  11.664112
14                EV  -50.0  1654.0   8058.0  11.436833
15                NK  -53.0  1426.0   9439.0   6.426846
16                YV  -65.0  1519.0  10695.0  10.282094
17                9E  -62.0  1464.0  12052.0   4.443080
18                AS  -85.0   560.0  12684.0   0.524598
19                OH  -54.0   873.0  13578.0   6.656282
20                B6  -75.0  1036.0  14777.0  11.287000
21                MQ  -52.0  1232.0  15007.0   5.737856
22                YX  -69.0  1279.0  15480.0   3.219832
23                UA  -80.0  1397.0  30765.0   7.409361
24                OO  -61.0  1515.0  39073.0   7.367236
25                AA  -76.0  1610.0  45867.0   6.070661
26                DL  -73.0  1206.0  48585.0   0.450036
27                WN  -61.0   484.0  66502.0   3.531413

In [21]:
# Creation of a dataframe with statitical infos on each origin airpot:
global_stats_origin_airport = df['arr_delay'].groupby(df['origin']).apply(get_stats).unstack()
global_stats_origin_airport = global_stats_origin_airport.sort_values('count')
global_stats_origin_airport.reset_index(inplace=True)
global_stats_origin_airport

    origin   min     max    count       mean
0      IFP  -2.0    -2.0      1.0  -2.000000
1      AKN -12.0   -12.0      1.0 -12.000000
2      HYA -23.0   -10.0      3.0 -15.333333
3      GST   4.0    40.0      3.0  22.333333
4      DLG -18.0    11.0      3.0  -3.666667
..     ...   ...     ...      ...        ...
370    CLT -48.0  1080.0  12199.0   6.651283
371    DEN -50.0  1541.0  13301.0   7.932712
372    DFW -51.0  1279.0  14130.0   9.604176
373    ORD -59.0  1288.0  19257.0  11.071091
374    ATL -53.0   871.0  19638.0   2.609583

[375 rows x 5 columns]

In [22]:
# Creation of a dataframe with statitical infos on each dest airport:
global_stats_dest_airport = df['arr_delay'].groupby(df['dest']).apply(get_stats).unstack()
global_stats_dest_airport = global_stats_dest_airport.sort_values('count')
global_stats_dest_airport.reset_index(inplace=True)
global_stats_dest_airport

    dest    min     max    count       mean
0    HYA   -9.0    49.0      2.0  20.000000
1    IFP  -17.0   -15.0      2.0 -16.000000
2    ROP  -15.0     0.0      3.0  -8.333333
3    DLG   -6.0    86.0      3.0  35.333333
4    AKN   -6.0    13.0      3.0   3.666667
..   ...    ...     ...      ...        ...
370  LAX  -71.0  1148.0  12384.0   2.984738
371  DEN  -61.0  1445.0  13362.0   5.678192
372  DFW -136.0  1541.0  14270.0   7.199019
373  ORD  -63.0  1515.0  19029.0   9.783331
374  ATL  -56.0  1464.0  19366.0   1.455644

[375 rows x 5 columns]

In [23]:
df2 = df.copy()

In [24]:
dfx = df2.merge(global_stats_carrier, how='left', left_on='op_unique_carrier', right_on='op_unique_carrier')

In [25]:
dfx = dfx.drop(['min', 'max', 'count'], axis=1)

In [26]:
dfx1 = dfx.pop('mean')

dfx.insert(1, "carrier_mean_delay", dfx1)

In [27]:
dfx2 = dfx.merge(global_stats_origin_airport, how='left', left_on='origin', right_on='origin')

In [28]:
dfx2 = dfx2.drop(['min', 'max', 'count'], axis=1)

In [29]:
dfx3 = dfx2.pop('mean')

dfx.insert(4, "origin_airport_mean_delay", dfx3)

In [30]:
dfx3 = dfx.merge(global_stats_dest_airport, how='left', left_on='dest', right_on='dest')

In [31]:
dfx3 = dfx3.drop(['min', 'max', 'count'], axis=1)

In [32]:
dfx4 = dfx3.pop('mean')

dfx.insert(8, "dest_airport_mean_delay", dfx4)

In [33]:
dfx

,op_unique_carrier,carrier_mean_delay,origin_city_name,origin,origin_airport_mean_delay,origin_airport_id,dest_city_name,dest,dest_airport_mean_delay,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time
0,AA,6.070661,"Phoenix, AZ",PHX,3.653966,14107,"San Diego, CA",SAN,2.391295,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0
1,AA,6.070661,"Charlotte, NC",CLT,6.651283,11057,"Washington, DC",DCA,4.504354,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0
2,AA,6.070661,"Fort Lauderdale, FL",FLL,6.300143,11697,"Charlotte, NC",CLT,2.541735,11057,632.0,91.0,06:03:00,05:57:00,-6.0,08:09:00,08:05:00,-4.0,126.0,128.0
3,AA,6.070661,"Charlotte, NC",CLT,6.651283,11057,"Boston, MA",BOS,9.687457,10721,728.0,92.0,11:35:00,11:29:00,-6.0,13:52:00,13:24:00,-28.0,137.0,115.0
4,AA,6.070661,"Charlotte, NC",CLT,6.651283,11057,"Tulsa, OK",TUL,5.358862,15370,842.0,133.0,18:20:00,18:12:00,-8.0,20:02:00,19:42:00,-20.0,162.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389884,YV,10.282094,"Cincinnati, OH",CVG,7.042343,11193,"Washington, DC",IAD,5.559465,12264,388.0,61.0,14:50:00,14:45:00,-5.0,16:17:00,16:08:00,-9.0,87.0,83.0
389885,YV,10.282094,"Reno, NV",RNO,2.175454,14570,"Houston, TX",IAH,6.592491,12266,1530.0,188.0,12:45:00,12:56:00,11.0,18:25:00,18:33:00,8.0,220.0,217.0
389886,YX,3.219832,"Miami, FL",MIA,7.327086,13303,"Atlanta, GA",ATL,1.455644,10397,594.0,93.0,16:07:00,15:55:00,-12.0,18:15:00,17:55:00,-20.0,128.0,120.0
389887,YX,3.219832,"Pittsburgh, PA",PIT,2.137903,14122,"Miami, FL",MIA,2.733816,13303,1013.0,141.0,19:00:00,18:55:00,-5.0,21:54:00,21:37:00,-17.0,174.0,162.0
389888,AA,6.070661,"New York, NY",JFK,2.001908,12478,"San Francisco, CA",SFO,10.743343,14771,2586.0,351.0,11:00:00,11:15:00,15.0,14:48:00,14:31:00,-17.0,408.0,376.0

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
# convert from hour to minutes
fct = lambda x:x.hour*60+x.minute

In [36]:
dfx['dep_time_min'] = dfx['dep_time'].apply(fct)

In [37]:
dfx['crs_dep_time_min'] = dfx['crs_dep_time'].apply(fct)

In [38]:
dfx = dfx.drop(['origin_city_name'],axis=1)

,op_unique_carrier,carrier_mean_delay,origin_city_name,origin,origin_airport_mean_delay,origin_airport_id,dest_city_name,dest,dest_airport_mean_delay,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,dep_time_min,crs_dep_time_min
0,AA,6.070661,"Phoenix, AZ",PHX,3.653966,14107,"San Diego, CA",SAN,2.391295,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0,513,515
1,AA,6.070661,"Charlotte, NC",CLT,6.651283,11057,"Washington, DC",DCA,4.504354,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0,937,871
2,AA,6.070661,"Fort Lauderdale, FL",FLL,6.300143,11697,"Charlotte, NC",CLT,2.541735,11057,632.0,91.0,06:03:00,05:57:00,-6.0,08:09:00,08:05:00,-4.0,126.0,128.0,357,363
3,AA,6.070661,"Charlotte, NC",CLT,6.651283,11057,"Boston, MA",BOS,9.687457,10721,728.0,92.0,11:35:00,11:29:00,-6.0,13:52:00,13:24:00,-28.0,137.0,115.0,689,695
4,AA,6.070661,"Charlotte, NC",CLT,6.651283,11057,"Tulsa, OK",TUL,5.358862,15370,842.0,133.0,18:20:00,18:12:00,-8.0,20:02:00,19:42:00,-20.0,162.0,150.0,1092,1100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389884,YV,10.282094,"Cincinnati, OH",CVG,7.042343,11193,"Washington, DC",IAD,5.559465,12264,388.0,61.0,14:50:00,14:45:00,-5.0,16:17:00,16:08:00,-9.0,87.0,83.0,885,890
389885,YV,10.282094,"Reno, NV",RNO,2.175454,14570,"Houston, TX",IAH,6.592491,12266,1530.0,188.0,12:45:00,12:56:00,11.0,18:25:00,18:33:00,8.0,220.0,217.0,776,765
389886,YX,3.219832,"Miami, FL",MIA,7.327086,13303,"Atlanta, GA",ATL,1.455644,10397,594.0,93.0,16:07:00,15:55:00,-12.0,18:15:00,17:55:00,-20.0,128.0,120.0,955,967
389887,YX,3.219832,"Pittsburgh, PA",PIT,2.137903,14122,"Miami, FL",MIA,2.733816,13303,1013.0,141.0,19:00:00,18:55:00,-5.0,21:54:00,21:37:00,-17.0,174.0,162.0,1135,1140
389888,AA,6.070661,"New York, NY",JFK,2.001908,12478,"San Francisco, CA",SFO,10.743343,14771,2586.0,351.0,11:00:00,11:15:00,15.0,14:48:00,14:31:00,-17.0,408.0,376.0,675,660

In [47]:
#----------------------------------
#Test
from sklearn.preprocessing import PolynomialFeatures

X = dfx[['crs_dep_time_min','carrier_mean_delay','distance','air_time','origin_airport_mean_delay','carrier_mean_delay','dest_airport_mean_delay']]
y = dfx['arr_delay']


poly = PolynomialFeatures(4)

In [48]:
#----------------------------------
#Test
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
y_scaled = scaler.fit_transform(y.values.reshape(-1,1))

In [49]:
#----------------------------------
#Test
Xt = poly.fit_transform(X_scaled)
X_test, X_train, y_test, y_train = train_test_split(Xt,y_scaled, train_size=0.8, random_state=1234)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
r2_train = model.score(X_train, y_train)
r2_test = model.score(X_test, y_test)

print("---Results---")
print(f"degree = {4}")
print(f"Train score = {r2_train}")
print(f"Test score = {r2_test}")

---Results---
degree = 4
Train score = 0.043309477377344474
Test score = 0.031639527001259715

In [50]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.47420384938530025
Mean Squared Error: 0.9707939827432428
Root Mean Squared Error: 0.9852887813952024