In [1]:
# import pandas
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import auc
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_classification
from sklearn.pipeline import make_pipeline
%matplotlib inline

In [2]:
df = pd.read_csv("./data/flights_random_sample_400000.csv")

In [3]:
df

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-03-07,AA,AA,AA,311,AA,N906NN,311,13303,MIA,...,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-03-07,AA,AA,AA,332,AA,N946NN,332,12953,LGA,...,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-07,AA,AA,AA,465,AA,N200UU,465,14107,PHX,...,304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-07,AA,AA,AA,550,AA,N947UW,550,14100,PHL,...,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-03-07,AA,AA,AA,591,AA,N833AW,591,11057,CLT,...,331.0,52.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,2018-03-07,UA,UA_CODESHARE,UA,6215,YV,N88335,6215,14570,RNO,...,1530.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397920,2018-03-07,AA,AA_CODESHARE,AA,4441,YX,NaN,4441,14100,PHL,...,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397921,2018-03-07,AA,AA_CODESHARE,AA,4640,YX,N417YX,4640,13303,MIA,...,594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397922,2018-03-07,AA,AA_CODESHARE,AA,4734,YX,N433YX,4734,14122,PIT,...,1013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397923,2018-03-07,AA,AA,AA,179,AA,N105NN,179,12478,JFK,...,2586.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### We are using a sample of the first weak of 2018 and 2019

In [4]:
df.fl_date.value_counts().sort_index(ascending=True)

2018-01-01    434
2018-01-02    552
2018-01-03    472
2018-01-04    400
2018-01-05    510
             ...
2019-12-27    519
2019-12-28    572
2019-12-29    599
2019-12-30    563
2019-12-31    468
Name: fl_date, Length: 730, dtype: int64

In [5]:
df = df.dropna(subset=["arr_time"])

In [6]:
df = df[df["diverted"].ne(1)]

In [7]:
df["arr_delay"].fillna(0, inplace=True)

In [8]:
df["dep_delay"].fillna(0, inplace=True)

In [9]:
df = df.dropna(subset=["air_time"])

### Create the columns 'year', 'month', 'day' separating the 'fl_date' column and after that conert it back to a datetime format

In [10]:
df[["year", "month" ,"day"]] = df["fl_date"].str.split("-", expand = True)

In [11]:
df1 = df.pop('year')
df2 = df.pop('month')
df3 = df.pop('day')
df.insert(1, "year", df1)
df.insert(2, "month", df2)
df.insert(3, "day", df3)

In [12]:
df['date'] = pd.to_datetime(df[['year','month', 'day']])

In [ ]:
df4 = df.pop('date')

In [ ]:
df.insert(1, "date", df4)

In [13]:
df = df.drop(['fl_date'], axis=1)

In [18]:
df

,date,year,month,day,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
2,2018-03-07,2018,03,07,AA,AA,AA,465,AA,N200UU,465,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",835,833.0,-2.0,13.0,846.0,838.0,2.0,851,840.0,-11.0,0.0,NaN,0.0,N,76.0,67.0,52.0,1.0,304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-03-07,2018,03,07,AA,AA,AA,591,AA,N833AW,591,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",1431,1537.0,66.0,16.0,1553.0,1648.0,3.0,1559,1651.0,52.0,0.0,NaN,0.0,N,88.0,74.0,55.0,1.0,331.0,52.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,2018-03-07,2018,03,07,AA,AA,AA,600,AA,N151UW,600,11697,FLL,"Fort Lauderdale, FL",11057,CLT,"Charlotte, NC",603,557.0,-6.0,18.0,615.0,746.0,19.0,809,805.0,-4.0,0.0,NaN,0.0,N,126.0,128.0,91.0,1.0,632.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018-03-07,2018,03,07,AA,AA,AA,1805,AA,N924US,1805,11057,CLT,"Charlotte, NC",10721,BOS,"Boston, MA",1135,1129.0,-6.0,11.0,1140.0,1312.0,12.0,1352,1324.0,-28.0,0.0,NaN,0.0,N,137.0,115.0,92.0,1.0,728.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018-03-07,2018,03,07,AA,AA,AA,2615,AA,N945NN,2615,11057,CLT,"Charlotte, NC",15370,TUL,"Tulsa, OK",1820,1812.0,-8.0,11.0,1823.0,1936.0,6.0,2002,1942.0,-20.0,0.0,NaN,0.0,N,162.0,150.0,133.0,1.0,842.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397918,2018-03-07,2018,03,07,UA,UA_CODESHARE,UA,6189,YV,N511MJ,6189,11193,CVG,"Cincinnati, OH",12264,IAD,"Washington, DC",1450,1445.0,-5.0,16.0,1501.0,1602.0,6.0,1617,1608.0,-9.0,0.0,NaN,0.0,N,87.0,83.0,61.0,1.0,388.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397919,2018-03-07,2018,03,07,UA,UA_CODESHARE,UA,6215,YV,N88335,6215,14570,RNO,"Reno, NV",12266,IAH,"Houston, TX",1245,1256.0,11.0,13.0,1309.0,1817.0,16.0,1825,1833.0,8.0,0.0,NaN,0.0,N,220.0,217.0,188.0,1.0,1530.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397921,2018-03-07,2018,03,07,AA,AA_CODESHARE,AA,4640,YX,N417YX,4640,13303,MIA,"Miami, FL",10397,ATL,"Atlanta, GA",1607,1555.0,-12.0,16.0,1611.0,1744.0,11.0,1815,1755.0,-20.0,0.0,NaN,0.0,N,128.0,120.0,93.0,1.0,594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397922,2018-03-07,2018,03,07,AA,AA_CODESHARE,AA,4734,YX,N433YX,4734,14122,PIT,"Pittsburgh, PA",13303,MIA,"Miami, FL",1900,1855.0,-5.0,12.0,1907.0,2128.0,9.0,2154,2137.0,-17.0,0.0,NaN,0.0,N,174.0,162.0,141.0,1.0,1013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397923,2018-03-07,2018,03,07,AA,AA,AA,179,AA,N105NN,179,12478,JFK,"New York, NY",14771,SFO,"San Francisco, CA",1100,1115.0,15.0,20.0,1135.0,1426.0,5.0,1448,1431.0,-17.0,0.0,NaN,0.0,N,408.0,376.0,351.0,1.0,2586.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Now we check for all missing values and NaN values on the entire data set

In [ ]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

In [ ]:
missing_value_df

### Drop the columns with delay values wich we are not supposed to use and also other columns with not usefull information

In [ ]:
df2 = df.drop(['cancellation_code', 'carrier_delay', 'weather_delay', 'nas_delay', 
          'security_delay', 'late_aircraft_delay', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'no_name'], axis=1)

### Here we fill the missing values and NaN values with '0' and afterd that set an option for the notebook to show all the columns

In [ ]:
df3 = df2.fillna(0)

In [17]:
pd.set_option('max_columns', None)

### Whe check for null values again and make sure we dont have any more

In [ ]:
percent_missing = df3.isnull().sum() * 100 / len(df3)
missing_value_df = pd.DataFrame({'column_name': df3.columns,
                                 'percent_missing': percent_missing})
missing_value_df

### Here we drop more columns and here are the reasons for each:

- origin - info available in origin_airport_id
- origin_city_name - info available in origin_airport_id
- dest - info available in dest_airport_id
- dest_city_name - info available in dest_airport_id
- tail_num - all unique ID
- mkt_carrier_fl_num - all unique ID
- op_carrier_fl_num - all unique ID
- flights - just "1" values in all rows
- dup - just "N" values in all rows
- mkt_carrier - same info in mkt_unique_carrier

In [ ]:
df4 = df3.drop(['origin', 'origin_city_name', 'dest', 'dest_city_name', 'tail_num', 
                'op_carrier_fl_num', 'flights', 'dup', 'mkt_carrier', 'mkt_unique_carrier', 'mkt_carrier', 
               'branded_code_share', 'cancelled', 'diverted'], axis=1)

### Create a copy for data integrity

In [ ]:
df5 = df4.copy()
df5

### Now we build a new variable (column 'delayed') indicating whether or not flights are delayed and use it to filter and count the number o delays per each carrier

In [ ]:
df5['delayed'] = df5['arr_delay'].apply(lambda x: x > 0)

In [ ]:
delayed_flights = df5[df5['delayed'] == True] #filter to only rows where delayer == True
delayed_flights['op_unique_carrier'].value_counts() #count the number of rows for each carrier

### Now we calculate the proportion of flights that were delayed

In [ ]:
df5.groupby(['op_unique_carrier','delayed']).size().unstack()

### Here we assign the values to a new data frame "delayed_by_carrier" and add a new 'clean' index

In [ ]:
delayed_by_carrier = df5.groupby(['op_unique_carrier','delayed']).size().unstack().reset_index()
delayed_by_carrier[:5]

### Calculate a new variable "flights_count" with the total delayed and not delayed flights

In [ ]:
delayed_by_carrier['flights_count'] = (delayed_by_carrier[False] + delayed_by_carrier[True])
delayed_by_carrier[:5]

### And now we calculate the percentage of flights delayed per each carrier and sort it by 'percentage_delayed'

In [ ]:
delayed_by_carrier['percentage_delayed'] = (delayed_by_carrier[True] / delayed_by_carrier['flights_count'])*100
delayed_by_carrier.sort_values('percentage_delayed', ascending=False)

### One option to check the mean (general idea of how many minutes flights were delayed for each airline) its to use a pivot table with the carrier and the delay. It returns the mean of the delay for each carrier

In [ ]:
df5.pivot_table(columns='op_unique_carrier', values='arr_delay', aggfunc=np.mean)

### Another option to check the general stats per carrier is use the .describe() function with each carrier. In this case we check for 'WN'

In [ ]:
carrier_delay_stats = df5[df5['op_unique_carrier'] == 'WN']['arr_delay']

In [ ]:
carrier_delay_stats.describe()

### Plot an histogram for the delay distribution of each carrier. We start for creating the bins for the X intervals. We use a 10 minutes interval (step=10), starting with 100 minutes early (start=-100) and ending at 200 minutes late (stop=200)

In [ ]:
bin_values = np.arange(start=-100, stop=200, step=5)
bin_values

### Here is the histogram for WN carrier

In [ ]:
wn_carrier = df5[df5['op_unique_carrier'] == 'WN']
wn_carrier['arr_delay'].hist(bins=bin_values, figsize=[14,6])

In [ ]:
# y = pd.get_dummies(df5.op_unique_carrier, prefix='carrier')
# y

In [ ]:
df5

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
X = df5[['year','month','day','distance','air_time', 'origin_airport_id', 'dest_airport_id', 
         'taxi_out', 'taxi_in', 'crs_elapsed_time', 'actual_elapsed_time']]

In [ ]:
y = df5['arr_delay']

In [ ]:
scaler = StandardScaler()

In [ ]:
data_scaled = scaler.fit_transform(X)

In [ ]:
reg = LinearRegression().fit(data_scaled, y)

In [ ]:
reg.score(data_scaled, y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data_scaled, y, test_size=0.30, random_state=1234)

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df