### Import a set of initial libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('max_columns', None)

### Load the csv file and show the raw data

In [2]:
df = pd.read_csv("./data/flights_random_sample_400000.csv")

In [3]:
dfTest = pd.read_csv("./data/flights_test.csv")

In [4]:
df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-03-07,AA,AA,AA,311,AA,N906NN,311,13303,MIA,"Miami, FL",10529,BDL,"Hartford, CT",1940,NaN,NaN,NaN,NaN,NaN,NaN,2249,NaN,NaN,1.0,B,0.0,N,189.0,NaN,NaN,1.0,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-03-07,AA,AA,AA,332,AA,N946NN,332,12953,LGA,"New York, NY",13930,ORD,"Chicago, IL",1330,NaN,NaN,NaN,NaN,NaN,NaN,1512,NaN,NaN,1.0,B,0.0,N,162.0,NaN,NaN,1.0,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-07,AA,AA,AA,465,AA,N200UU,465,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",835,833.0,-2.0,13.0,846.0,838.0,2.0,851,840.0,-11.0,0.0,NaN,0.0,N,76.0,67.0,52.0,1.0,304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-07,AA,AA,AA,550,AA,N947UW,550,14100,PHL,"Philadelphia, PA",10529,BDL,"Hartford, CT",2050,NaN,NaN,NaN,NaN,NaN,NaN,2156,NaN,NaN,1.0,B,0.0,N,66.0,NaN,NaN,1.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-03-07,AA,AA,AA,591,AA,N833AW,591,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",1431,1537.0,66.0,16.0,1553.0,1648.0,3.0,1559,1651.0,52.0,0.0,NaN,0.0,N,88.0,74.0,55.0,1.0,331.0,52.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
dfTest.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

### Create the columns 'year', 'month', 'day' separating the 'fl_date' column and after that conert it back to a datetime format

In [6]:
df[["year", "month" ,"day"]] = df["fl_date"].str.split("-", expand = True)

In [7]:
dfTest[["year", "month" ,"day"]] = dfTest["fl_date"].str.split("-", expand = True)

In [8]:
df1 = df.pop('year')
df2 = df.pop('month')
df3 = df.pop('day')
df.insert(1, "year", df1)
df.insert(2, "month", df2)
df.insert(3, "day", df3)

In [9]:
df1Test = dfTest.pop('year')
df2Test = dfTest.pop('month')
df3Test = dfTest.pop('day')
dfTest.insert(1, "year", df1Test)
dfTest.insert(2, "month", df2Test)
dfTest.insert(3, "day", df3Test)

In [10]:
df['date'] = pd.to_datetime(df[['year','month', 'day']])
df.drop(['fl_date'], axis=1)

,year,month,day,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,date
0,2018,03,07,AA,AA,AA,311,AA,N906NN,311,13303,MIA,"Miami, FL",10529,BDL,"Hartford, CT",1940,NaN,NaN,NaN,NaN,NaN,NaN,2249,NaN,NaN,1.0,B,0.0,N,189.0,NaN,NaN,1.0,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
1,2018,03,07,AA,AA,AA,332,AA,N946NN,332,12953,LGA,"New York, NY",13930,ORD,"Chicago, IL",1330,NaN,NaN,NaN,NaN,NaN,NaN,1512,NaN,NaN,1.0,B,0.0,N,162.0,NaN,NaN,1.0,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
2,2018,03,07,AA,AA,AA,465,AA,N200UU,465,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",835,833.0,-2.0,13.0,846.0,838.0,2.0,851,840.0,-11.0,0.0,NaN,0.0,N,76.0,67.0,52.0,1.0,304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
3,2018,03,07,AA,AA,AA,550,AA,N947UW,550,14100,PHL,"Philadelphia, PA",10529,BDL,"Hartford, CT",2050,NaN,NaN,NaN,NaN,NaN,NaN,2156,NaN,NaN,1.0,B,0.0,N,66.0,NaN,NaN,1.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
4,2018,03,07,AA,AA,AA,591,AA,N833AW,591,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",1431,1537.0,66.0,16.0,1553.0,1648.0,3.0,1559,1651.0,52.0,0.0,NaN,0.0,N,88.0,74.0,55.0,1.0,331.0,52.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2018-03-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,2018,03,07,UA,UA_CODESHARE,UA,6215,YV,N88335,6215,14570,RNO,"Reno, NV",12266,IAH,"Houston, TX",1245,1256.0,11.0,13.0,1309.0,1817.0,16.0,1825,1833.0,8.0,0.0,NaN,0.0,N,220.0,217.0,188.0,1.0,1530.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397920,2018,03,07,AA,AA_CODESHARE,AA,4441,YX,NaN,4441,14100,PHL,"Philadelphia, PA",11278,DCA,"Washington, DC",2110,NaN,NaN,NaN,NaN,NaN,NaN,2218,NaN,NaN,1.0,B,0.0,N,68.0,NaN,NaN,1.0,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397921,2018,03,07,AA,AA_CODESHARE,AA,4640,YX,N417YX,4640,13303,MIA,"Miami, FL",10397,ATL,"Atlanta, GA",1607,1555.0,-12.0,16.0,1611.0,1744.0,11.0,1815,1755.0,-20.0,0.0,NaN,0.0,N,128.0,120.0,93.0,1.0,594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397922,2018,03,07,AA,AA_CODESHARE,AA,4734,YX,N433YX,4734,14122,PIT,"Pittsburgh, PA",13303,MIA,"Miami, FL",1900,1855.0,-5.0,12.0,1907.0,2128.0,9.0,2154,2137.0,-17.0,0.0,NaN,0.0,N,174.0,162.0,141.0,1.0,1013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
397923,2018,03,07,AA,AA,AA,179,AA,N105NN,179,12478,JFK,"New York, NY",14771,SFO,"San Francisco, CA",1100,1115.0,15.0,20.0,1135.0,1426.0,5.0,1448,1431.0,-17.0,0.0,NaN,0.0,N,408.0,376.0,351.0,1.0,2586.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07

In [11]:
dfTest['date'] = pd.to_datetime(dfTest[['year','month', 'day']])
dfTest.drop(['fl_date'], axis=1)

,year,month,day,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,date
0,2020,01,01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363,2020-01-01
1,2020,01,01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363,2020-01-01
2,2020,01,01,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333,2020-01-01
3,2020,01,01,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333,2020-01-01
4,2020,01,01,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660551,2020,01,31,DL,DL_CODESHARE,DL,4954,9E,N926XJ,4954,11278,DCA,"Washington, DC",11193,CVG,"Cincinnati, OH",1859,2041,N,102,1,411,2020-01-31
660552,2020,01,31,DL,DL_CODESHARE,DL,4955,9E,N309PQ,4955,11278,DCA,"Washington, DC",11193,CVG,"Cincinnati, OH",1515,1702,N,107,1,411,2020-01-31
660553,2020,01,31,DL,DL_CODESHARE,DL,4956,9E,N324PQ,4956,12478,JFK,"New York, NY",10785,BTV,"Burlington, VT",2205,2337,N,92,1,266,2020-01-31
660554,2020,01,31,DL,DL_CODESHARE,DL,4957,9E,N132EV,4957,13930,ORD,"Chicago, IL",12478,JFK,"New York, NY",1035,1356,N,141,1,740,2020-01-31
660555,2020,01,31,DL,DL_CODESHARE,DL,4958,9E,N390CA,4958,12953,LGA,"New York, NY",11057,CLT,"Charlotte, NC",2005,2222,N,137,1,544,2020-01-31

### Define the function "time_format" and convert military time to datetime.time

In [12]:
import datetime

# Function that convert the 'HHMM' string to datetime.time "1940 -> 19:40:00"
def time_format(chain):
    if pd.isnull(chain):
        return np.nan
    else:
        if chain == 2400: chain = 0
        chain = "{0:04d}".format(int(chain))
        time = datetime.time(int(chain[0:2]), int(chain[2:4]))
        return time

### Convert "crs_dep_time", "dep_time", "crs_arr_time" and "arr_time" from military time to datetime.time

In [13]:
df['crs_dep_time'] = df['crs_dep_time'].apply(time_format)

In [14]:
dfTest['crs_dep_time'] = dfTest['crs_dep_time'].apply(time_format)

In [15]:
df['dep_time'] = df['dep_time'].apply(time_format)

In [16]:
# dfTest['dep_time'] = dfTest['dep_time'].apply(time_format)

In [17]:
df['crs_arr_time'] = df['crs_arr_time'].apply(time_format)

In [18]:
dfTest['crs_arr_time'] = dfTest['crs_arr_time'].apply(time_format)

In [19]:
df['arr_time'] = df['arr_time'].apply(time_format)

In [20]:
# dfTest['arr_time'] = dfTest['arr_time'].apply(time_format)

In [21]:
df.head()

,fl_date,year,month,day,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,date
0,2018-03-07,2018,03,07,AA,AA,AA,311,AA,N906NN,311,13303,MIA,"Miami, FL",10529,BDL,"Hartford, CT",19:40:00,NaN,NaN,NaN,NaN,NaN,NaN,22:49:00,NaN,NaN,1.0,B,0.0,N,189.0,NaN,NaN,1.0,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
1,2018-03-07,2018,03,07,AA,AA,AA,332,AA,N946NN,332,12953,LGA,"New York, NY",13930,ORD,"Chicago, IL",13:30:00,NaN,NaN,NaN,NaN,NaN,NaN,15:12:00,NaN,NaN,1.0,B,0.0,N,162.0,NaN,NaN,1.0,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
2,2018-03-07,2018,03,07,AA,AA,AA,465,AA,N200UU,465,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",08:35:00,08:33:00,-2.0,13.0,846.0,838.0,2.0,08:51:00,08:40:00,-11.0,0.0,NaN,0.0,N,76.0,67.0,52.0,1.0,304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
3,2018-03-07,2018,03,07,AA,AA,AA,550,AA,N947UW,550,14100,PHL,"Philadelphia, PA",10529,BDL,"Hartford, CT",20:50:00,NaN,NaN,NaN,NaN,NaN,NaN,21:56:00,NaN,NaN,1.0,B,0.0,N,66.0,NaN,NaN,1.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07
4,2018-03-07,2018,03,07,AA,AA,AA,591,AA,N833AW,591,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",14:31:00,15:37:00,66.0,16.0,1553.0,1648.0,3.0,15:59:00,16:51:00,52.0,0.0,NaN,0.0,N,88.0,74.0,55.0,1.0,331.0,52.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2018-03-07

In [22]:
dfTest.head()

,fl_date,year,month,day,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,date
0,2020-01-01,2020,01,01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",18:10:00,19:45:00,N,95,1,363,2020-01-01
1,2020-01-01,2020,01,01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",11:50:00,13:20:00,N,90,1,363,2020-01-01
2,2020-01-01,2020,01,01,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",20:20:00,21:30:00,N,70,1,333,2020-01-01
3,2020-01-01,2020,01,01,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",13:40:00,14:55:00,N,75,1,333,2020-01-01
4,2020-01-01,2020,01,01,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",09:15:00,10:35:00,N,80,1,333,2020-01-01

### Remove some variables that wont be useful for further analysis

In [23]:
variables_to_remove = ['taxi_out',
                       'taxi_in',
                       'wheels_on',
                       'wheels_off',
                       'date',
                       'nas_delay',
                       'security_delay',
                       'carrier_delay',
                       'late_aircraft_delay',
                       'weather_delay',
                       'diverted',
                       'cancelled',
                       'cancellation_code',
                       'mkt_carrier_fl_num',
                       'tail_num',
                       'mkt_unique_carrier',
                       'branded_code_share',
                       'mkt_carrier',
                       'op_carrier_fl_num',
                       'dup',
                       'flights',
                       'first_dep_time',
                       'total_add_gtime',
                       'longest_add_gtime',
                       'no_name'
                      ]

In [24]:
df.drop(variables_to_remove, axis = 1, inplace = True)

In [25]:
variables_to_remove_Test = [
#     'taxi_out',
#                        'taxi_in',
#                        'wheels_on',
#                        'wheels_off',
                       'date',
#                        'nas_delay',
#                        'security_delay',
#                        'carrier_delay',
#                        'late_aircraft_delay',
#                        'weather_delay',
#                        'diverted',
#                        'cancelled',
#                        'cancellation_code',
                       'mkt_carrier_fl_num',
                       'tail_num',
                       'mkt_unique_carrier',
                       'branded_code_share',
                       'mkt_carrier',
                       'op_carrier_fl_num',
                       'dup',
                       'flights',
#                        'first_dep_time',
#                        'total_add_gtime',
#                        'longest_add_gtime',
#                        'no_name'
                      ]

In [26]:
dfTest.drop(variables_to_remove_Test, axis = 1, inplace = True)

In [27]:
df.head()

,fl_date,year,month,day,op_unique_carrier,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-03-07,2018,03,07,AA,13303,MIA,"Miami, FL",10529,BDL,"Hartford, CT",19:40:00,NaN,NaN,22:49:00,NaN,NaN,189.0,NaN,NaN,1194.0
1,2018-03-07,2018,03,07,AA,12953,LGA,"New York, NY",13930,ORD,"Chicago, IL",13:30:00,NaN,NaN,15:12:00,NaN,NaN,162.0,NaN,NaN,733.0
2,2018-03-07,2018,03,07,AA,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0,52.0,304.0
3,2018-03-07,2018,03,07,AA,14100,PHL,"Philadelphia, PA",10529,BDL,"Hartford, CT",20:50:00,NaN,NaN,21:56:00,NaN,NaN,66.0,NaN,NaN,196.0
4,2018-03-07,2018,03,07,AA,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0,55.0,331.0

In [28]:
dfTest.head()

,fl_date,year,month,day,op_unique_carrier,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance
0,2020-01-01,2020,01,01,WN,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",18:10:00,19:45:00,95,363
1,2020-01-01,2020,01,01,WN,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",11:50:00,13:20:00,90,363
2,2020-01-01,2020,01,01,WN,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",20:20:00,21:30:00,70,333
3,2020-01-01,2020,01,01,WN,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",13:40:00,14:55:00,75,333
4,2020-01-01,2020,01,01,WN,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",09:15:00,10:35:00,80,333

### Keep things identical for now.

In [29]:
#dfTest = dfTest.drop(['fl_date','origin_airport_id','origin_city_name','dest_airport_id','dest_city_name','origin','dest'],axis=1)

In [30]:
#dfTest

### Rearrange the columns on the dataframe and show it

In [31]:
df = df[['year',
         'month',
         'day',
         'op_unique_carrier',
         'origin_city_name',
         'origin',
         'origin_airport_id',
         'dest_city_name',
         'dest',
         'dest_airport_id',
         'distance',
         'air_time',
         'crs_dep_time',
         'dep_time',
         'dep_delay',
         'crs_arr_time',
         'arr_time',
         'arr_delay',
         'crs_elapsed_time',
         'actual_elapsed_time'
        ]]

In [32]:
dfTest = dfTest[['year',
         'month',
         'day',
         'op_unique_carrier',
         'origin_city_name',
         'origin',
         'origin_airport_id',
         'dest_city_name',
         'dest',
         'dest_airport_id',
         'distance',
         #'air_time',
         'crs_dep_time',
         #'dep_time',
         #'dep_delay',
         'crs_arr_time',
         #'arr_time',
         #'arr_delay',
         'crs_elapsed_time',
         #'actual_elapsed_time'
        ]]

In [33]:
df.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time
0,2018,03,07,AA,"Miami, FL",MIA,13303,"Hartford, CT",BDL,10529,1194.0,NaN,19:40:00,NaN,NaN,22:49:00,NaN,NaN,189.0,NaN
1,2018,03,07,AA,"New York, NY",LGA,12953,"Chicago, IL",ORD,13930,733.0,NaN,13:30:00,NaN,NaN,15:12:00,NaN,NaN,162.0,NaN
2,2018,03,07,AA,"Phoenix, AZ",PHX,14107,"San Diego, CA",SAN,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0
3,2018,03,07,AA,"Philadelphia, PA",PHL,14100,"Hartford, CT",BDL,10529,196.0,NaN,20:50:00,NaN,NaN,21:56:00,NaN,NaN,66.0,NaN
4,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Washington, DC",DCA,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0

In [34]:
dfTest.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,crs_dep_time,crs_arr_time,crs_elapsed_time
0,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,18:10:00,19:45:00,95
1,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,11:50:00,13:20:00,90
2,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,20:20:00,21:30:00,70
3,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,13:40:00,14:55:00,75
4,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,09:15:00,10:35:00,80

### Check for missing values, drop all the missing values and check again to confirm

In [35]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0              air_time            7864           98.023743
1             arr_delay            7763           98.049125
2   actual_elapsed_time            7707           98.063198
3              arr_time            6825           98.284848
4             dep_delay            6538           98.356973
5              dep_time            6420           98.386627
6          crs_arr_time               0          100.000000
7          crs_dep_time               0          100.000000
8              distance               0          100.000000
9                  year               0          100.000000
10                 dest               0          100.000000
11       dest_city_name               0          100.000000
12    origin_airport_id               0          100.000000
13               origin               0          100.000000
14     origin_city_name               0          100.000000
15    op_unique_carrier               0          100.000000
16                  day               0          100.000000
17                month               0          100.000000
18     crs_elapsed_time               0          100.000000
19      dest_airport_id               0          100.000000

In [36]:
missing_df = dfTest.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

             variable  missing values  filling factor (%)
0                year               0               100.0
1               month               0               100.0
2                 day               0               100.0
3   op_unique_carrier               0               100.0
4    origin_city_name               0               100.0
5              origin               0               100.0
6   origin_airport_id               0               100.0
7      dest_city_name               0               100.0
8                dest               0               100.0
9     dest_airport_id               0               100.0
10           distance               0               100.0
11       crs_dep_time               0               100.0
12       crs_arr_time               0               100.0
13   crs_elapsed_time               0               100.0

In [37]:
df.dropna(inplace = True)

In [38]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0                  year               0               100.0
1             arr_delay               0               100.0
2              arr_time               0               100.0
3          crs_arr_time               0               100.0
4             dep_delay               0               100.0
5              dep_time               0               100.0
6          crs_dep_time               0               100.0
7              air_time               0               100.0
8              distance               0               100.0
9       dest_airport_id               0               100.0
10                 dest               0               100.0
11       dest_city_name               0               100.0
12    origin_airport_id               0               100.0
13               origin               0               100.0
14     origin_city_name               0               100.0
15    op_unique_carrier               0               100.0
16                  day               0               100.0
17                month               0               100.0
18     crs_elapsed_time               0               100.0
19  actual_elapsed_time               0               100.0

In [39]:
df.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time
2,2018,03,07,AA,"Phoenix, AZ",PHX,14107,"San Diego, CA",SAN,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0
4,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Washington, DC",DCA,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0
5,2018,03,07,AA,"Fort Lauderdale, FL",FLL,11697,"Charlotte, NC",CLT,11057,632.0,91.0,06:03:00,05:57:00,-6.0,08:09:00,08:05:00,-4.0,126.0,128.0
6,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Boston, MA",BOS,10721,728.0,92.0,11:35:00,11:29:00,-6.0,13:52:00,13:24:00,-28.0,137.0,115.0
7,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Tulsa, OK",TUL,15370,842.0,133.0,18:20:00,18:12:00,-8.0,20:02:00,19:42:00,-20.0,162.0,150.0

In [40]:
dfTest.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,crs_dep_time,crs_arr_time,crs_elapsed_time
0,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,18:10:00,19:45:00,95
1,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,11:50:00,13:20:00,90
2,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,20:20:00,21:30:00,70
3,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,13:40:00,14:55:00,75
4,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,09:15:00,10:35:00,80

### Use lambda to convert "crs_dep_time" and "dep_time" to minutes

In [41]:
# convert from hour to minutes
fct = lambda x:x.hour*60+x.minute

In [42]:
df['dep_time_min'] = df['dep_time'].apply(fct)

In [43]:
df['crs_dep_time_min'] = df['crs_dep_time'].apply(fct)

In [44]:
dfTest['crs_dep_time_min'] = dfTest['crs_dep_time'].apply(fct)

**Again keep everything identical for now.  
Not converting dfTest arr time unless we also convert df arr_time**

In [45]:
#dfTest['crs_arr_time_min'] = dfTest['crs_arr_time'].apply(fct)

In [46]:
df.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,dep_time_min,crs_dep_time_min
2,2018,03,07,AA,"Phoenix, AZ",PHX,14107,"San Diego, CA",SAN,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0,513,515
4,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Washington, DC",DCA,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0,937,871
5,2018,03,07,AA,"Fort Lauderdale, FL",FLL,11697,"Charlotte, NC",CLT,11057,632.0,91.0,06:03:00,05:57:00,-6.0,08:09:00,08:05:00,-4.0,126.0,128.0,357,363
6,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Boston, MA",BOS,10721,728.0,92.0,11:35:00,11:29:00,-6.0,13:52:00,13:24:00,-28.0,137.0,115.0,689,695
7,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Tulsa, OK",TUL,15370,842.0,133.0,18:20:00,18:12:00,-8.0,20:02:00,19:42:00,-20.0,162.0,150.0,1092,1100

In [47]:
dfTest.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,crs_dep_time,crs_arr_time,crs_elapsed_time,crs_dep_time_min
0,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,18:10:00,19:45:00,95,1090
1,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,11:50:00,13:20:00,90,710
2,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,20:20:00,21:30:00,70,1220
3,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,13:40:00,14:55:00,75,820
4,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,09:15:00,10:35:00,80,555

**don't need to drop these yet**

In [48]:
#dfTest = dfTest.drop(['crs_dep_time','crs_arr_time'],axis=1)

In [49]:
#dfTest

### Define a function to get statistical parameters in order to obtain the mean delay for each carrier, origin airport, destination airport.

arr delay by carrier stats

In [50]:
# function that extract statistical parameters from a grouby objet:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean()}


# Creation of a dataframe with statitical info on each airline:
global_stats_carrier = df['arr_delay'].groupby(df['op_unique_carrier']).apply(get_stats).unstack()
global_stats_carrier = global_stats_carrier.sort_values('count')
global_stats_carrier.reset_index(inplace=True)
global_stats_carrier.head(5)

  op_unique_carrier   min     max   count       mean
0                9K -24.0    29.0    45.0  -4.555556
1                KS -38.0   254.0    71.0  26.422535
2                EM -28.0   170.0   245.0   4.946939
3                VX -54.0   202.0   430.0   2.774419
4                C5 -49.0  1317.0  2605.0  24.450288

dep_delay by origin stats

In [51]:
# Creation of a dataframe with statitical info on each origin airpot:
global_stats_origin_airport = df['dep_delay'].groupby(df['origin']).apply(get_stats).unstack()
global_stats_origin_airport = global_stats_origin_airport.sort_values('count')
global_stats_origin_airport.reset_index(inplace=True)
global_stats_origin_airport.head(5)

  origin   min   max  count       mean
0    IFP  12.0  12.0    1.0  12.000000
1    AKN  -6.0  -6.0    1.0  -6.000000
2    HYA  -8.0   1.0    3.0  -2.333333
3    GST   4.0  27.0    3.0  18.333333
4    DLG -13.0   0.0    3.0  -4.333333

arr_delay by destination

In [52]:
# Creation of a dataframe with statitical info on each dest airport:
global_stats_dest_airport = df['arr_delay'].groupby(df['dest']).apply(get_stats).unstack()
global_stats_dest_airport = global_stats_dest_airport.sort_values('count')
global_stats_dest_airport.reset_index(inplace=True)
global_stats_dest_airport.head(5)

  dest   min   max  count       mean
0  HYA  -9.0  49.0    2.0  20.000000
1  IFP -17.0 -15.0    2.0 -16.000000
2  ROP -15.0   0.0    3.0  -8.333333
3  DLG  -6.0  86.0    3.0  35.333333
4  AKN  -6.0  13.0    3.0   3.666667

elapsed time by destination

In [53]:
# Creation of a dataframe with statitical info for the mean elapsed time per destination airport:
global_stats_elapsed_time = df['actual_elapsed_time'].groupby(df['dest']).apply(get_stats).unstack()
global_stats_elapsed_time = global_stats_elapsed_time.sort_values('count')
global_stats_elapsed_time.reset_index(inplace=True)
global_stats_elapsed_time.head(5)

  dest   min   max  count       mean
0  HYA  69.0  70.0    2.0  69.500000
1  IFP  65.0  67.0    2.0  66.000000
2  ROP  40.0  40.0    3.0  40.000000
3  DLG  67.0  75.0    3.0  70.000000
4  AKN  60.0  79.0    3.0  71.666667

departure time by origin?

In [54]:
# Creation of a dataframe with statitical info for the mean departure time per original airport:
global_stats_mean_depTime_origin_airport = df['dep_time_min'].groupby(df['origin']).apply(get_stats).unstack()
global_stats_mean_depTime_origin_airport = global_stats_mean_depTime_origin_airport.sort_values('count')
global_stats_mean_depTime_origin_airport.reset_index(inplace=True)
global_stats_mean_depTime_origin_airport.head(5)

  origin     min     max  count         mean
0    IFP   777.0   777.0    1.0   777.000000
1    AKN  1058.0  1058.0    1.0  1058.000000
2    HYA   781.0   805.0    3.0   796.666667
3    GST  1095.0  1127.0    3.0  1108.666667
4    DLG   952.0   965.0    3.0   960.666667

In [55]:
df.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,dep_time_min,crs_dep_time_min
2,2018,03,07,AA,"Phoenix, AZ",PHX,14107,"San Diego, CA",SAN,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0,513,515
4,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Washington, DC",DCA,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0,937,871
5,2018,03,07,AA,"Fort Lauderdale, FL",FLL,11697,"Charlotte, NC",CLT,11057,632.0,91.0,06:03:00,05:57:00,-6.0,08:09:00,08:05:00,-4.0,126.0,128.0,357,363
6,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Boston, MA",BOS,10721,728.0,92.0,11:35:00,11:29:00,-6.0,13:52:00,13:24:00,-28.0,137.0,115.0,689,695
7,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Tulsa, OK",TUL,15370,842.0,133.0,18:20:00,18:12:00,-8.0,20:02:00,19:42:00,-20.0,162.0,150.0,1092,1100

In [56]:
dfTest.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,crs_dep_time,crs_arr_time,crs_elapsed_time,crs_dep_time_min
0,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,18:10:00,19:45:00,95,1090
1,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,11:50:00,13:20:00,90,710
2,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,20:20:00,21:30:00,70,1220
3,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,13:40:00,14:55:00,75,820
4,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,09:15:00,10:35:00,80,555

### Merge the statistical information (just the mean) into the new main dataframe "dfx"

In [57]:
# Merge the mean delay obtained in global_stats_carrier into the new dfx

In [58]:
df2 = df.copy()

In [59]:
dfx = df2.merge(global_stats_carrier, how='left', left_on='op_unique_carrier', right_on='op_unique_carrier')

In [60]:
dfx = dfx.drop(['min', 'max', 'count'], axis=1)

In [61]:
dfx1 = dfx.pop('mean')

dfx.insert(0, "carrier_mean_delay", dfx1)

In [62]:
# Merge the mean delay obtained in global_stats_origin_airport into the new dfx

In [63]:
dfx2 = dfx.merge(global_stats_origin_airport, how='left', left_on='origin', right_on='origin')

In [64]:
dfx2 = dfx2.drop(['min', 'max', 'count'], axis=1)

In [65]:
dfx3 = dfx2.pop('mean')

dfx.insert(1, "origin_airport_mean_delay", dfx3)

In [66]:
# Merge the mean delay obtained in global_stats_dest_airport into the new dfx

In [67]:
dfx3 = dfx.merge(global_stats_dest_airport, how='left', left_on='dest', right_on='dest')

In [68]:
dfx3 = dfx3.drop(['min', 'max', 'count'], axis=1)

In [69]:
dfx4 = dfx3.pop('mean')

dfx.insert(2, "dest_airport_mean_delay", dfx4)

In [70]:
# Merge the mean delay obtained in global_stats_elapsed_time into the new dfx

In [71]:
dfx4 = dfx.merge(global_stats_elapsed_time, how='left', left_on='dest', right_on='dest')

In [72]:
dfx4 = dfx4.drop(['min', 'max', 'count'], axis=1)

In [73]:
dfx5 = dfx4.pop('mean')

dfx.insert(3, "dest_airport_mean_elapsed_time", dfx5)

In [74]:
# Merge the mean delay obtained in global_stats_mean_depTime_origin_airport into the new dfx

In [75]:
dfx5 = dfx.merge(global_stats_mean_depTime_origin_airport, how='left', left_on='origin', right_on='origin')

In [76]:
dfx5 = dfx5.drop(['min', 'max', 'count'], axis=1)

In [77]:
dfx6 = dfx5.pop('mean')

dfx.insert(4, "mean_depTime_origin_airport", dfx6)

In [78]:
#Show the dataframe

In [79]:
dfx.head()

,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,dest_airport_mean_elapsed_time,mean_depTime_origin_airport,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,dep_time_min,crs_dep_time_min
0,6.070661,9.056345,2.391295,157.418605,822.221222,2018,03,07,AA,"Phoenix, AZ",PHX,14107,"San Diego, CA",SAN,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0,513,515
1,6.070661,10.247151,4.504354,114.573305,890.616854,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Washington, DC",DCA,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0,937,871
2,6.070661,11.598245,2.541735,111.305427,837.855336,2018,03,07,AA,"Fort Lauderdale, FL",FLL,11697,"Charlotte, NC",CLT,11057,632.0,91.0,06:03:00,05:57:00,-6.0,08:09:00,08:05:00,-4.0,126.0,128.0,357,363
3,6.070661,10.247151,9.687457,152.667443,890.616854,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Boston, MA",BOS,10721,728.0,92.0,11:35:00,11:29:00,-6.0,13:52:00,13:24:00,-28.0,137.0,115.0,689,695
4,6.070661,10.247151,5.358862,99.721007,890.616854,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Tulsa, OK",TUL,15370,842.0,133.0,18:20:00,18:12:00,-8.0,20:02:00,19:42:00,-20.0,162.0,150.0,1092,1100

In [80]:
dfTest.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,crs_dep_time,crs_arr_time,crs_elapsed_time,crs_dep_time_min
0,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,18:10:00,19:45:00,95,1090
1,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,11:50:00,13:20:00,90,710
2,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,20:20:00,21:30:00,70,1220
3,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,13:40:00,14:55:00,75,820
4,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,09:15:00,10:35:00,80,555

In [81]:
# calculate avg delay by carrier
avg_delay_df = dfx[["op_unique_carrier", "arr_delay"]].groupby("op_unique_carrier").mean().reset_index()
# round values and create a dictionary mapping each carrier to their avg delay
avg_delay_map = dict(avg_delay_df.values)
rounded_delay_vals = [round(val, 2) for val in avg_delay_map.values()]
avg_delay_map = dict(zip(avg_delay_map.keys(), rounded_delay_vals))


# adding the feature to flights_test dataframe
dfTest["carrier_mean_delay"] = dfTest["op_unique_carrier"].map(avg_delay_map)

In [82]:
# calculate avg dep delay grouped by origin
avg_delay_df = dfx[["origin", "dep_delay"]].groupby("origin").mean().reset_index()
# round values and create a dictionary mapping each carrier to their avg delay
avg_delay_map = dict(avg_delay_df.values)
rounded_delay_vals = [round(val, 2) for val in avg_delay_map.values()]
avg_delay_map = dict(zip(avg_delay_map.keys(), rounded_delay_vals))


# adding the feature to flights_test dataframe
dfTest["origin_airport_mean_delay"] = dfTest["origin"].map(avg_delay_map)

In [83]:
# calculate avg  arrival delay grouped by destination
avg_delay_df = dfx[["dest", "arr_delay"]].groupby("dest").mean().reset_index()
# round values and create a dictionary mapping each carrier to their avg delay
avg_delay_map = dict(avg_delay_df.values)
rounded_delay_vals = [round(val, 2) for val in avg_delay_map.values()]
avg_delay_map = dict(zip(avg_delay_map.keys(), rounded_delay_vals))


# adding the feature to flights_test dataframe
dfTest["dest_airport_mean_delay"] = dfTest["dest"].map(avg_delay_map)

In [84]:
# calculate avg elapsed time of flight grouped by destination
avg_delay_df = dfx[["dest", "actual_elapsed_time"]].groupby("dest").mean().reset_index()
# round values and create a dictionary mapping each carrier to their avg delay
avg_delay_map = dict(avg_delay_df.values)
rounded_delay_vals = [round(val, 2) for val in avg_delay_map.values()]
avg_delay_map = dict(zip(avg_delay_map.keys(), rounded_delay_vals))


# adding the feature to flights_test dataframe
dfTest["dest_airport_mean_elapsed_time"] = dfTest["dest"].map(avg_delay_map)

In [85]:
# calculate avg time of departure grouped by origin
avg_delay_df = dfx[["origin", "dep_time_min"]].groupby("origin").mean().reset_index()
# round values and create a dictionary mapping each carrier to their avg delay
avg_delay_map = dict(avg_delay_df.values)
rounded_delay_vals = [round(val, 2) for val in avg_delay_map.values()]
avg_delay_map = dict(zip(avg_delay_map.keys(), rounded_delay_vals))


# adding the feature to flights_test dataframe
dfTest["mean_depTime_origin_airport"] = dfTest["origin"].map(avg_delay_map)

In [86]:
dfx.head()

,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,dest_airport_mean_elapsed_time,mean_depTime_origin_airport,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,air_time,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,dep_time_min,crs_dep_time_min
0,6.070661,9.056345,2.391295,157.418605,822.221222,2018,03,07,AA,"Phoenix, AZ",PHX,14107,"San Diego, CA",SAN,14679,304.0,52.0,08:35:00,08:33:00,-2.0,08:51:00,08:40:00,-11.0,76.0,67.0,513,515
1,6.070661,10.247151,4.504354,114.573305,890.616854,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Washington, DC",DCA,11278,331.0,55.0,14:31:00,15:37:00,66.0,15:59:00,16:51:00,52.0,88.0,74.0,937,871
2,6.070661,11.598245,2.541735,111.305427,837.855336,2018,03,07,AA,"Fort Lauderdale, FL",FLL,11697,"Charlotte, NC",CLT,11057,632.0,91.0,06:03:00,05:57:00,-6.0,08:09:00,08:05:00,-4.0,126.0,128.0,357,363
3,6.070661,10.247151,9.687457,152.667443,890.616854,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Boston, MA",BOS,10721,728.0,92.0,11:35:00,11:29:00,-6.0,13:52:00,13:24:00,-28.0,137.0,115.0,689,695
4,6.070661,10.247151,5.358862,99.721007,890.616854,2018,03,07,AA,"Charlotte, NC",CLT,11057,"Tulsa, OK",TUL,15370,842.0,133.0,18:20:00,18:12:00,-8.0,20:02:00,19:42:00,-20.0,162.0,150.0,1092,1100

In [87]:
dfTest.head()

,year,month,day,op_unique_carrier,origin_city_name,origin,origin_airport_id,dest_city_name,dest,dest_airport_id,distance,crs_dep_time,crs_arr_time,crs_elapsed_time,crs_dep_time_min,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,dest_airport_mean_elapsed_time,mean_depTime_origin_airport
0,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,18:10:00,19:45:00,95,1090,3.53,9.21,10.74,194.29,758.16
1,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Francisco, CA",SFO,14771,363,11:50:00,13:20:00,90,710,3.53,9.21,10.74,194.29,758.16
2,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,20:20:00,21:30:00,70,1220,3.53,9.21,2.24,126.78,758.16
3,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,13:40:00,14:55:00,75,820,3.53,9.21,2.24,126.78,758.16
4,2020,01,01,WN,"Ontario, CA",ONT,13891,"San Jose, CA",SJC,14831,333,09:15:00,10:35:00,80,555,3.53,9.21,2.24,126.78,758.16

### Drop some variables that wont be used for further analysis and rearrange the columns order

In [88]:
from sklearn.preprocessing import StandardScaler

In [89]:
dfx = dfx.drop(['origin_city_name',
                'dest_city_name',
                'origin_airport_id',
                'dest_airport_id',
                'crs_dep_time',
                'dep_time',
                'crs_arr_time',
                'arr_time',
                'origin',
                'dest',
                "air_time"
               ],axis=1)

In [90]:
dfTest = dfTest.drop(['origin_city_name',
                'dest_city_name',
                'origin_airport_id',
                'dest_airport_id',
                'crs_dep_time',
                #'dep_time',
                'crs_arr_time',
                #'arr_time',
                'origin',
                'dest'
               ],axis=1)

In [91]:
dfx.head()

,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,dest_airport_mean_elapsed_time,mean_depTime_origin_airport,year,month,day,op_unique_carrier,distance,dep_delay,arr_delay,crs_elapsed_time,actual_elapsed_time,dep_time_min,crs_dep_time_min
0,6.070661,9.056345,2.391295,157.418605,822.221222,2018,03,07,AA,304.0,-2.0,-11.0,76.0,67.0,513,515
1,6.070661,10.247151,4.504354,114.573305,890.616854,2018,03,07,AA,331.0,66.0,52.0,88.0,74.0,937,871
2,6.070661,11.598245,2.541735,111.305427,837.855336,2018,03,07,AA,632.0,-6.0,-4.0,126.0,128.0,357,363
3,6.070661,10.247151,9.687457,152.667443,890.616854,2018,03,07,AA,728.0,-6.0,-28.0,137.0,115.0,689,695
4,6.070661,10.247151,5.358862,99.721007,890.616854,2018,03,07,AA,842.0,-8.0,-20.0,162.0,150.0,1092,1100

In [92]:
dfTest.head()

,year,month,day,op_unique_carrier,distance,crs_elapsed_time,crs_dep_time_min,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,dest_airport_mean_elapsed_time,mean_depTime_origin_airport
0,2020,01,01,WN,363,95,1090,3.53,9.21,10.74,194.29,758.16
1,2020,01,01,WN,363,90,710,3.53,9.21,10.74,194.29,758.16
2,2020,01,01,WN,333,70,1220,3.53,9.21,2.24,126.78,758.16
3,2020,01,01,WN,333,75,820,3.53,9.21,2.24,126.78,758.16
4,2020,01,01,WN,333,80,555,3.53,9.21,2.24,126.78,758.16

In [93]:
dfx = dfx[['year',
           'month',
           'day','op_unique_carrier',
           'carrier_mean_delay',
           'origin_airport_mean_delay',
           'dest_airport_mean_delay',
           'crs_dep_time_min',
           'mean_depTime_origin_airport',
           'distance',
           'crs_elapsed_time',
           'actual_elapsed_time',
           'dest_airport_mean_elapsed_time',
           'dep_delay',
           'arr_delay',
           'dep_time_min'
          ]]

In [94]:
dfTest = dfTest[['year',
           'month',
           'day','op_unique_carrier',
           'carrier_mean_delay',
           'origin_airport_mean_delay',
           'dest_airport_mean_delay',
           'crs_dep_time_min',
           'mean_depTime_origin_airport',
           'distance',
           #'air_time',
           'crs_elapsed_time',
           #'actual_elapsed_time',
           'dest_airport_mean_elapsed_time',
           #'dep_delay',
           #'arr_delay',
           #'dep_time_min'
          ]]

In [95]:
dfx.head()

,year,month,day,op_unique_carrier,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,crs_dep_time_min,mean_depTime_origin_airport,distance,crs_elapsed_time,actual_elapsed_time,dest_airport_mean_elapsed_time,dep_delay,arr_delay,dep_time_min
0,2018,03,07,AA,6.070661,9.056345,2.391295,515,822.221222,304.0,76.0,67.0,157.418605,-2.0,-11.0,513
1,2018,03,07,AA,6.070661,10.247151,4.504354,871,890.616854,331.0,88.0,74.0,114.573305,66.0,52.0,937
2,2018,03,07,AA,6.070661,11.598245,2.541735,363,837.855336,632.0,126.0,128.0,111.305427,-6.0,-4.0,357
3,2018,03,07,AA,6.070661,10.247151,9.687457,695,890.616854,728.0,137.0,115.0,152.667443,-6.0,-28.0,689
4,2018,03,07,AA,6.070661,10.247151,5.358862,1100,890.616854,842.0,162.0,150.0,99.721007,-8.0,-20.0,1092

In [96]:
dfTest.head()

,year,month,day,op_unique_carrier,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,crs_dep_time_min,mean_depTime_origin_airport,distance,crs_elapsed_time,dest_airport_mean_elapsed_time
0,2020,01,01,WN,3.53,9.21,10.74,1090,758.16,363,95,194.29
1,2020,01,01,WN,3.53,9.21,10.74,710,758.16,363,90,194.29
2,2020,01,01,WN,3.53,9.21,2.24,1220,758.16,333,70,126.78
3,2020,01,01,WN,3.53,9.21,2.24,820,758.16,333,75,126.78
4,2020,01,01,WN,3.53,9.21,2.24,555,758.16,333,80,126.78

### In orther to be able to use the categorical variable "op_unique_carrier" we transform it into dummy variables and include the new variables into the main data frame

In [97]:
# Create a new dfy so we have a "checkpoint" for running different iterations of the model.
dfy = dfx.copy()

In [98]:
dfyTest = dfTest.copy()

In [99]:
dfz = pd.get_dummies(dfy, columns=['op_unique_carrier'], drop_first=True)

In [100]:
dfzTest = pd.get_dummies(dfyTest, columns=['op_unique_carrier'], drop_first=True)

In [101]:
dfz.head()

,year,month,day,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,crs_dep_time_min,mean_depTime_origin_airport,distance,crs_elapsed_time,actual_elapsed_time,dest_airport_mean_elapsed_time,dep_delay,arr_delay,dep_time_min,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_KS,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2018,03,07,6.070661,9.056345,2.391295,515,822.221222,304.0,76.0,67.0,157.418605,-2.0,-11.0,513,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018,03,07,6.070661,10.247151,4.504354,871,890.616854,331.0,88.0,74.0,114.573305,66.0,52.0,937,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2018,03,07,6.070661,11.598245,2.541735,363,837.855336,632.0,126.0,128.0,111.305427,-6.0,-4.0,357,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2018,03,07,6.070661,10.247151,9.687457,695,890.616854,728.0,137.0,115.0,152.667443,-6.0,-28.0,689,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2018,03,07,6.070661,10.247151,5.358862,1100,890.616854,842.0,162.0,150.0,99.721007,-8.0,-20.0,1092,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [102]:
dfzTest.head()

,year,month,day,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,crs_dep_time_min,mean_depTime_origin_airport,distance,crs_elapsed_time,dest_airport_mean_elapsed_time,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2020,01,01,3.53,9.21,10.74,1090,758.16,363,95,194.29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,2020,01,01,3.53,9.21,10.74,710,758.16,363,90,194.29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,2020,01,01,3.53,9.21,2.24,1220,758.16,333,70,126.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,2020,01,01,3.53,9.21,2.24,820,758.16,333,75,126.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,2020,01,01,3.53,9.21,2.24,555,758.16,333,80,126.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

# We are done feature engineering. Any variables that we are not allowed to use to train the model must be dropped!!!

In [103]:
dfz.drop(["actual_elapsed_time", "dep_delay", "dep_time_min"], axis=1, inplace=True)

In [104]:
dfz.head()

,year,month,day,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,crs_dep_time_min,mean_depTime_origin_airport,distance,crs_elapsed_time,dest_airport_mean_elapsed_time,arr_delay,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_KS,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2018,03,07,6.070661,9.056345,2.391295,515,822.221222,304.0,76.0,157.418605,-11.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018,03,07,6.070661,10.247151,4.504354,871,890.616854,331.0,88.0,114.573305,52.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2018,03,07,6.070661,11.598245,2.541735,363,837.855336,632.0,126.0,111.305427,-4.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2018,03,07,6.070661,10.247151,9.687457,695,890.616854,728.0,137.0,152.667443,-28.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2018,03,07,6.070661,10.247151,5.358862,1100,890.616854,842.0,162.0,99.721007,-20.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [105]:
dfzTest.head()

,year,month,day,carrier_mean_delay,origin_airport_mean_delay,dest_airport_mean_delay,crs_dep_time_min,mean_depTime_origin_airport,distance,crs_elapsed_time,dest_airport_mean_elapsed_time,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2020,01,01,3.53,9.21,10.74,1090,758.16,363,95,194.29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,2020,01,01,3.53,9.21,10.74,710,758.16,363,90,194.29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,2020,01,01,3.53,9.21,2.24,1220,758.16,333,70,126.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,2020,01,01,3.53,9.21,2.24,820,758.16,333,75,126.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,2020,01,01,3.53,9.21,2.24,555,758.16,333,80,126.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

### Define the dfzx and dfzy data frames that will be used as "X" and "y" variables in the model

In [106]:
# We set the target variable to the data frame dfzy that is goint to represent our y
dfzy = dfz['arr_delay']

In [108]:
# We set the independent variables to the data frame dfzx that is goint to represent our X

#The variable 'dep_time_min' its commented because I'm not sure I can use it in this case
dfzx = dfz.drop(['arr_delay',
                 'origin_airport_mean_delay',
                 'dest_airport_mean_delay',
                 'dest_airport_mean_elapsed_time',
                 'mean_depTime_origin_airport',
#                  'crs_dep_time_min',
                ],axis=1)

In [109]:
# We set the independent variables to the data frame dfzx that is goint to represent our X

#The variable 'dep_time_min' its commented because I'm not sure I can use it in this case
dfzTest = dfzTest.drop([
                 'origin_airport_mean_delay',
                 'dest_airport_mean_delay',
                 'dest_airport_mean_elapsed_time',
                 'mean_depTime_origin_airport',
#                  'crs_dep_time_min',
                ],axis=1)

In [110]:
dfzx.head()

,year,month,day,carrier_mean_delay,crs_dep_time_min,distance,crs_elapsed_time,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_KS,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2018,03,07,6.070661,515,304.0,76.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018,03,07,6.070661,871,331.0,88.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2018,03,07,6.070661,363,632.0,126.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2018,03,07,6.070661,695,728.0,137.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2018,03,07,6.070661,1100,842.0,162.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [111]:
dfzTest.head()

,year,month,day,carrier_mean_delay,crs_dep_time_min,distance,crs_elapsed_time,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2020,01,01,3.53,1090,363,95,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,2020,01,01,3.53,710,363,90,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,2020,01,01,3.53,1220,333,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,2020,01,01,3.53,820,333,75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,2020,01,01,3.53,555,333,80,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

### Start the model and define the "X" and "y" used for the future polynomial linear regression

In [112]:
from sklearn.preprocessing import PolynomialFeatures

X = dfzx
y = dfzy

pol = 2
poly = PolynomialFeatures(pol)

In [113]:
X

,year,month,day,carrier_mean_delay,crs_dep_time_min,distance,crs_elapsed_time,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_KS,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2018,03,07,6.070661,515,304.0,76.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018,03,07,6.070661,871,331.0,88.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2018,03,07,6.070661,363,632.0,126.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2018,03,07,6.070661,695,728.0,137.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2018,03,07,6.070661,1100,842.0,162.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389884,2018,03,07,10.282094,890,388.0,87.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
389885,2018,03,07,10.282094,765,1530.0,220.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
389886,2018,03,07,3.219832,967,594.0,128.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
389887,2018,03,07,3.219832,1140,1013.0,174.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
389888,2018,03,07,6.070661,660,2586.0,408.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [114]:
y

0        -11.0
1         52.0
2         -4.0
3        -28.0
4        -20.0
          ...
389884    -9.0
389885     8.0
389886   -20.0
389887   -17.0
389888   -17.0
Name: arr_delay, Length: 389889, dtype: float64

### Scale the data using StandardScaler

In [115]:
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)
y_scaled = scaler.fit_transform(y.values.reshape(-1,1))

### Fit the scaled data into the polinomial model and after that create the train and test enviroment

In [116]:
Xt = poly.fit_transform(X_scaled)

X_test, X_train, y_test, y_train = train_test_split(Xt,y, train_size=0.7, random_state=123)

### Instatiate the linear regression model, fit the train X and y variables and create the "y_predict" prediction variable

In [117]:
model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

### Train, test and score the model

In [118]:
r2_train = model.score(X_train, y_train)
r2_test = model.score(X_test, y_test)

### Print out the ressults

In [119]:
print("---Results---")
print(f"degree = {pol}")
print(f"Train score = {r2_train}")
print(f"Test score = {r2_test}")

---Results---
degree = 2
Train score = 0.02023300657811289
Test score = 0.001436333439127524

In [120]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 24.324984888732356
Mean Squared Error: 2482.085213973886
Root Mean Squared Error: 49.82053004509171

In [121]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [122]:
df.head(25)

        Actual  Predicted
286950    -5.0   3.625061
299672   -29.0  12.933884
272814    30.0   4.209946
215039    -1.0   0.093445
55332     -4.0  -0.105850
372110   -16.0  -0.914536
10818    -14.0  -3.811432
186658   -24.0   1.246750
190162   -26.0  -4.290817
307581   113.0   1.502090
104369   -24.0   1.060867
236487     5.0  10.395950
258868    -3.0  17.680588
323456   -10.0  -8.705215
16760    241.0  19.014664
268306    30.0   2.957306
228388   204.0   3.272125
233143    76.0  -3.153122
273884    16.0   7.551926
94224      5.0   5.790283
223596   139.0   7.950958
371114   -40.0  -0.510422
288913   -16.0   2.796616
235756    95.0  15.535141
177433     8.0   9.018448

In [ ]:
y_pred = model.predict(dfzTest)